body{
    background-color: rgb(52, 115, 98);
    height: 100vh;
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   gap:50px
}
.result{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
#conclusion{
    margin-top:10px;
    color: white;
    /* text-shadow: 5px 10px 5px black; */
    font-size: 40px;
}
#newgame{
    font-size: 20px;
    width:125px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}
#heading{
    
    margin-top: 100px;
    color:whitesmoke;
    text-shadow: 5px 10px 5px black;
    font-weight: bold;
    font-size:40px;
}
.container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    height:400px;
    width:400px;
}
.boxes{
    background-color:lightgreen;
    border: none;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    margin:5px;
    width: 120px;
    height:120px;
    color:rgba(255, 0, 0, 0.5);
    font-size:60px;
    font-weight: bold;
}
.boxes:hover{
    background-color: lightgray;
}
.reStart{
    font-size: 20px;
    width:125px;
    padding: 10px;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    cursor: pointer;
    
}
.reStart:hover{
    background-color: lightgrey;
    border: 2px 2px 5px black;
}